.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
node_modules/
dist/
build/
cache/
test-results/
data/external/
data/raw/*.pkl
data/raw/*.json
data/processed/*.json
outputs/*
Screenshot_*.jpg
*_720.jpg
