fastapi==0.115.12
uvicorn==0.34.2
requests==2.32.3
httpx==0.28.1
pandas==2.2.3
networkx==3.4.2
shapely==2.0.7
pyproj==3.7.1
geopandas==1.0.1
osmnx==2.0.3
rasterio==1.4.3
pulp==2.9.0
matplotlib==3.10.1
